@charset "UTF-8";

/*Index */
#bodyIndex {
	background: linear-gradient(to bottom, DeepSkyBlue, white);
}

#presentacion {
	border-style: outset;
	background: linear-gradient(to bottom, white, DeepSkyBlue);
	float:left;
	 width: 40%;
	 
}
#imagen {
	float:left;
}

/* Formulario */
#parrafoinicial{
	text-align: centre;
	
}
#horario{
	text-align: right;
	font-size: smaller;
	color: #00C9FF;
}
#formulario{
	 border: 5px outset red;
  background-color: lightblue;    
  text-align: center;
}
	/**<Pagina de mostrar el resultado> */
	


	/** Pagina de error. Núm negativo */
	#divErrorNeg{
		 border: 5px outset red;
 	 	background-color: lightyellow;    
  		text-align: center;
	}

/** ------ */

